$prime: #1C1B2D;
$second: #2c2a44;
$secondLight: #393757;
$third: #F37631;
$font: #ffffff;
$fontDarker: #dddddd;

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap');

$titillium: "Titillium Web", sans-serif;

body,
html {
  width: 100%;
  height: 100%;
  background: $prime;
  font-size: 10px;
  margin: 0;
  padding: 15px;
  color: $font;
  font-family: $titillium;
}

* {
  box-sizing: border-box;
}